#################
## idea
#################
.idea/
*.iml
*.ipr
*.iws
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.gradle/
gradle/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific

*.class
classes/
build/
output/
*/target
target/
entity_back/